 <div class="header">
  <app-header></app-header>
  </div>
<div   class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center mt-10"  data-stellar-background-ratio="1"
      style="background-image: url(), url(assets/images/gallery/pic1.jpg)">
            	<div class="overlay-main bg-black opacity-07 "></div>
                <div class="container ">
                    <div class="mt-bnr-inr-entry ">
                    	<div class="banner-title-outer " >
                        	<div class="banner-title-name ">
                        		<h2 class="text-light">
                                    Welcome To Our Profile
                                </h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="mt-breadcrumb breadcrumb-style-7">
                                    <li class=" fs-4"><a href="/home" class="text-danger">Home</a></li>
                                   
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
             <div
      class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat bg-right-center"
      style="background-image: url(assets/images/left-men.png), url(assets/images/background/bg-4.png)">
      <div class="section-content">
        <div class="container">
          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-center">
              <div class="mt-separator">
                <h2 class="text-uppercase text-danger sep-line-one">
                  <span class="font-weight-300 site-text-primary text-danger">Our</span>
                  Profile
                </h2>
              </div>
            </div>
          </div>
          <!-- TITLE END -->

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="mission-left bg-white m-b30 p-a30 bg-no-repeat bg-bottom-left" style="background-image: url(assets/images/background/bg-site.png)">
                <h3 class="m-t0">
                  <span class="font-weight-100"> About-Us</span>
                </h3>
                <p class="fs-5">The Factory for Architectural Contracting (MSG) traces its origins back to 1975 
                    (corresponding to 1395 H) when it began with basic tools and machinery. Over time, 
                    MSG has upgraded its equipment to align with modern industry standards.
                    Notably, in 1982, MSG proudly introduced the first automatic block machine in
                    Turaif, establishing itself as a leading block manufacturer in the northern border area.
                    In 1990, MSG ventured into concrete technology by installing the region's first 24-meter
                     concrete pump in Turiaf. Since then, MSG has successfully executed numerous large-scale
                      projects for both local and international clients. Currently, MSG operates three ready-mix 
                      concrete (RMC) batching plants (including a mobile unit), two crushers, and two block manufacturing
                       facilities, all supported by a fully equipped quality control laboratory.
                </p>
            
                <div class="text-right">
                  <a href="about-1.html" class="site-button-link text-danger" data-hover="Read More"
                    >Read More <i class="fa fa-angle-right arrow-animation"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="mission-mid bg-no-repeat bg-cover m-b30" style="background-image: url(assets/images/background/bg-10.jpg)"></div>
            </div></div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
        <strong >Our Profile</strong>
      </div>
    </div>
    
<div
  class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat card bg-right-center"
  style="background-image: url(), url(assets/images/background/bg-4.png)">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-danger text-uppercase sep-line-one">
            <span class="font-weight-300 site-text-primary text-danger">Our </span>
          Certificates
          </h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"><img src="assets/images/SH1.jpg" alt="" /></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"><img src="assets/images/SH2.jpg" alt=""  /></a>
            </div>

           
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"><img src="assets/images/SH3.jpg" alt=""  /></a>
            </div>

         
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"><img src="assets/images/SH4.jpg" alt=""  /></a>
            </div>
        
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
            <div class="mt-post-media mt-img-overlay7">
              <a href="javascript:;"><img src="assets/images/SH6.jpg" alt=""  /></a>
            </div>
          </div>
        </div>
     
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
    <strong >Our Certificates</strong>
  </div>
</div>
<app-footer></app-footer>