.header{
 color: #0a0a0a;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.banner-title-outer{
    margin-top: 60px;
}
a img{
    height: 600px;
}
strong{
    color: brown;
}